[tool.poetry]
name = "inso-extpipes-cli"
version = "2.2.0"
description = "A CLI to deploy CDF Extraction Pipelines"
authors = ["Peter Arwanitis <peter.arwanitis@cognite.com>", "Tugce Ozgur Oztetik <tugce.oztetik@cognite.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/cognitedata/inso-extpipes-cli"

packages = [
    { include="incubator", from="." },
]

[tool.black]
line-length = 120
target_version = ['py39']
include = '\.py$'

[tool.isort]
# https://pycqa.github.io/isort/docs/configuration/black_compatibility.html
profile = "black"
line_length=120                # corresponds to -w  flag
multi_line_output=3            # corresponds to -m  flag
include_trailing_comma=true    # corresponds to -tc flag
skip_glob = '^((?!py$).)*$'    # this makes sort all Python files
known_third_party = ["click", "pytest"]

[tool.poetry.dependencies]
python = "^3.9"
cognite-extractor-utils = "^2.2.0"
cognite-sdk-core = {extras=["pandas"],version = "^2.56.1"}
click = "^8.1.3"
# types-retry = "^0.1.5"

[tool.poetry.dev-dependencies]
black = "^22.12.0"
isort = "^5.12.0"
flake8 = "^6.0.0"
mypy = "^0.991"
pre-commit = "^3.0.0"
pytest = "^7.2.1"
# pytest-cov = "^3.0.0"
setuptools = "^65.5.1"

[tool.poetry.scripts]
extpipes-cli = "incubator.extpipes_cli.__main__:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.semantic_release]
version_toml = [
"pyproject.toml:tool.poetry.version"
]
